.subtitle
	text-align: center
	+font-ptsans-narrow(400)
	font-size: 48px
	color: #fff
	text-transform: uppercase

	&-weight
		+font-ptsans-narrow(700)
	
	&-color
		color: #fc481a

.analysis

	&__desc
		text-align: center
		+font-ptsans(400)
		font-size: 22px
		color: #ffffff
		
