.wrap
	padding-bottom: 9px
	background: #000
	
.container
	margin: 0 auto
	max-width: 980px

	+r(980)
		padding: 0px 15px

.top-bg
	background: url('../img/bg/header-bg.png')
	+cover

	+r(980)
		background-attachment: fixed


.header
	display: flex
	align-items: center
	padding: 24px 0 18px
	color: #ffffff

	+r(987)
		justify-content: flex-start
		flex-wrap: wrap

	+r(980)
		background: rgba(#000, 0.7)

	&__logo-inner
		width: 35%

		+r(987)
			width: 100%
			padding-bottom: 10px

		&:before
			+header-icon('../img/icons/logo-icon.png')
			vertical-align: top
			padding-right: 14px

	&__info
		+font-ptsans(400)
		font-size: 18px

		&-inner
			width: 23%

			+r(987)
				width: 30%

			+r(764)
				width: 150px
			
		&--size
			+font-ptsans(700)
			font-size: 24px

	&__pseudo-icon1
		&:before
			+header-icon('../img/icons/header-icon1.png')
			padding-right: 8px

	&__pseudo-icon2
		&:before
			+header-icon('../img/icons/header-icon2.png')
			padding-right: 11px


		
