<section class="advantage ">
	<div class="container">
	<h2 class="subtitle">
		<span class="subtitle--weight">Преимущества</span> пантовых орешек
		<span class="subtitle--spacing subtitle--weight">Panto
			<span class="subtitle--red">MAX</span>
		</span>
	</h2>
	<div class="advantage__content">
		<figure class="advantage__photo">
			<img class="img" src="../img/img/advantage.png">
		</figure>
		<div class="advantage__list">
			<figure class="advantage__item">
				<img class="img" src="../img/img/advant1.png" alt="">
				<figcaption class="advantage__item-text">Дарит яркие оргазмы</figcaption>
			</figure>
			<figure class="advantage__item">
				<img class="img" src="../img/img/advant2.png" alt="">
				<figcaption class="advantage__item-text">Нормализует гормональный фон</figcaption>
			</figure>
			<figure class="advantage__item">
				<img class="img" src="../img/img/advant3.png" alt="">
				<figcaption class="advantage__item-text">Избавляет от эректильной дисфункции </figcaption>
			</figure>
			<figure class="advantage__item">
				<img class="img" src="../img/img/advant4.png" alt="">
				<figcaption class="advantage__item-text">Улучшает кровообращение в организме </figcaption>
			</figure>
			<figure class="advantage__item">
				<img class="img" src="../img/img/advant5.png" alt="">
				<figcaption class="advantage__item-text">Повышает тонус и жизненные силы </figcaption>
			</figure>
			<figure class="advantage__item">
				<img class="img" src="../img/img/advant6.png" alt="">
				<figcaption class="advantage__item-text">Регулирует либидо и желание</figcaption>
			</figure>
		</div>
	</div>
	</div>
</section>