<section class="analysis">
	<h2 class="subtitle">
		<span class="subtitle--weight">Проблема</span>
		<span class="subtitle--red">ума</span> или <span class="subtitle--red">тела?</span>
	</h2>

	<p class="analysis__desc">Ответьте всего на 2 вопроса и узнайте свой тип импотенции</p>

	<div class="analysis__question">
		<span class="analysis__question-count">1</span>
		<span class="analysis__question-text">Как уменьшалась эрекция?</span>
		<div class="analysis__question-btns">
			<button class="analysis__question-btn" type="button">Постепенно</button>
			<button class="analysis__question-btn" type="button">Внезапно</button>
		</div>
	</div>
</section>