<section class="article article--about">
	<div class="article__text-inner">
		<h1 class="article__title subtitle">
			<span class="subtitle--spacing">Panto
				<span class="subtitle--red">MAX</span>
			</span>
			– максимальное удовольствие в сексе
		</h1>
		<span class="article__text article__text--width">Пантовые орешки</span>
		<span class="article__text"> – экопродукт, в состав которого входят натуральные компоненты. Препарат абсолютно совместим с клеточными жидкостями, быстро проникает в кровь и начинает действовать уже через 30 минут. Биогенный комплекс орешек действует на половые и репродуктивные функции мужского организма, эндокринные функции, гормональный статус. Также Название оказывает многоплановое действие на функции и состояние мозга, сердечно-сосудистой, пищеварительной, нервной, иммунной систем.</span>
	</div>
</section>