<div class="container">
	<section class="article article--recommend">
		<div class="article__text-inner">
			<h2 class="article__title subtitle">
				<span class="subtitle--spacing">Мнение</span>
				<span class="subtitle--red">врача</span>
			</h2>
			<p class="article__text article__text--padding">50% мужчин до 35 лет имеют проблемы с эрекцией. Поэтому при первых же признаках необходимо брать быка за рога и решать проблему.</p> 
			<p class="article__text article__text--padding">Я своим пациентам советую пантовые орешки Пантомакс, это натуральный препарат, который отлично влияет не только на потенцию, но и на весь организм.
			</p>
			<p class="article__text">При приеме Пантомакс у мужчины нормализуется работа сосудов и повышается потенция. Одним из действий препарата также является улучшение психоэмоциональной составляющей сексуальной жизни. Препарат поможет поддержать эрекцию во время всего полового акта. При этом эффект пантовых орешков не зависит от времени их приема.
			</p>
			<figure class="article__byline">
				<figcaption class="article__byline-text">Ильнур Мухазин, врач-андролог, к.м.н.</figcaption>
				<img src="img/img/signature.png">
			</figure>
		</div>
		<figure class="article__photo">
			<img class="img" src="img/img/article2.png" alt="">
		</figure>
	</section>
</div>