
<div class="top-bg">
	<header class="header">
		<i class="header__logo-inner">
			<img class="header__logo" src="../img/icons/logo.png">
		</i>
		<div class="header__info-inner header__pseudo-icon1">
			<span class="header__info header__info--size">100%</span>
			<span class="header__info">натурально</span>
		</div>
		<div class="header__info-inner header__pseudo-icon2">
			<span class="header__info header__info--size">100%</span>
			<span class="header__info">эффективно</span>
		</div>
	</header>
	
